<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Error" internalLogFile="C:\temp\logs\internal-nlog.txt">
    <targets>
        <target name="Debuglogfile" xsi:type="File" fileName="${basedir}/logs/debug_${shortdate}.log" layout="${longdate} ${threadid} ${uppercase:${level}} | ${logger} | ${message}" />
        <target name="Errorlogfile" xsi:type="File" fileName="${basedir}/logs/error_${shortdate}.log" layout="${longdate} ${threadid} ${uppercase:${level}} | ${logger} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
        <target name="Infologfile" xsi:type="File" fileName="${basedir}/logs/info_${shortdate}.log" layout="${longdate} ${threadid} ${uppercase:${level}} | ${logger} | ${message}" />
        <target name="Console" xsi:type="Console" />
    </targets>

    <rules>
        <!-- disable Microsoft.* log -->
        <logger name="Microsoft.*"  maxlevel="Warn" final = "true"/>
        
        <logger name="*" level="Info" writeTo="Infologfile,Console" />
        <logger name="*" level="Debug" writeTo="Debuglogfile,Console" />
        <logger name="*" level="Error" writeTo="Errorlogfile,Console" />
    </rules>
</nlog>